/* General */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    background-color: var(--purple-color);
}

.links {
    display: flex;
    gap: 12px;
}

.link-item > a {
    color: #fff;
    font-family: 'Silkscreen', cursive;
    font-weight: 400;
}

.menu-mobile { display: none; }

@media (max-width: 768px) {
    .menu-desktop, .icons { display: none; }
    .menu-mobile { display: block; }
    .menu-mobile ul { 
        position: absolute;
        opacity: 0;
        top: 65px;
        right: 0;
        width: 0%;
        height: 100%;
        transition: 0.8s;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--purple-color);
    }
    .menu-mobile li { display: none; }
    .menu-mobile .open li { display: block; }
    .open {
        opacity: 1 !important;
        width: 50% !important;
    }
}