footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.f-links {
    display: flex;
    gap: 15px;
}

p, .f-links > a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #6b7280;
    font-size: 1.2em;
}

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        gap: 2em;
    }
}